body
{
     margin:0;
     padding:0;
     font-family: 'trebuchet MS';
     font-size:15px;
}

h1, h1c
{
     font-weight:  bold;
     font-size:17px;
     margin: 0 0 0.70em 0;
     line-height: 1.13em;
}

h2, h3, h2c
{
     font-size: 115%;
     font-weight:  bold;
     line-height: 1.33;
     margin: 0 0 0.75em 0;
     padding-top:15px;
}

h3
{
     padding-top:10px !important;
}

a
{
     text-decoration: underline;
     color:#00a0c4;
}

a:hover
{
    color: #CC0000;
}

  ul, p
  {
       margin: 0 0 0.77em 0; 
       padding: 0 0 0 0; 
  }

  .dashUl li
  {
     margin: 0 0 0.5em 0; padding: 0 0 0 20px;
     list-style-type: none;
     behavior: expression( !this.before
            ? this.before = this.innerHTML = '&mdash;&nbsp;' + this.innerHTML : '' );
        text-indent: -1.24em;
  }

   .dashUl li:before 
   { 
      content: '\2015\a0';
      padding-right: 0.3em;
   }


table{
border:0px; /* border="0" */
border-collapse:collapse; /* cellspacing="0" */
}

table td{
padding:0px; /* cellpadding="0" */
} 

img
{
    border:none;
}

blockquote
{
    background-color: #ececec;
    padding:20px 25px;
    margin: 10px 0 10px -25px;
}

/*Additional*/


 .f-left
 {
     float:left;
 }
 
 .f-right
 {
     float:right;
 }
 
  .center
 {
      text-align:center;
 }
 
 .left
 {
     text-align:left;
 }
 
 .right
 {
     text-align:right;
 }

.clear
{
     clear:both;
}