<connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>


	  <add name="APKOConnectionString" connectionString="Data Source=193.19.242.4;Initial Catalog=cpl0000000898_arkotech;Persist Security Info=True;User ID=cpl0000000898_user;Password=1111111"
      providerName="System.Data.SqlClient" />
	</connectionStrings>