<log4net>
    <appender name="MVCEngine" type="log4net.Appender.RollingFileAppender">
        <!--<file value="C:\log.txt"/>-->
        <file value="Logs\Log4net\log.txt"/>
        <appendToFile value="true"/>
        <datePattern value="yyyyMMdd"/>
        <rollingStyle value="Date"/>
        <MaxSizeRollBackups value="180" />
        <filter type="log4net.Filter.LevelRangeFilter">
            <acceptOnMatch value="true"/>
            <levelMin value="DEBUG"/>
            <levelMax value="FATAL"/>
        </filter>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5p %-25d thr:%-5t %9rms %c{1},%M: %m%n"/>
        </layout>
    </appender>
    <root>
        <appender-ref ref="MVCEngine" />
    </root>
</log4net>